{:paths ["src"]
 :deps {instaparse/instaparse {:mvn/version "1.4.10"}
        garden/garden {:mvn/version "1.3.10"}}
 :aliases {:dev {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                              org.clojure/clojurescript {:mvn/version "1.10.844"}}}
           :test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.829"}
                                lambdaisland/kaocha-cljs      {:mvn/version "0.0-71"}
                                lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                org.clojure/test.check        {:mvn/version "1.1.0"}}}

           ; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "0.12.4"}}
                      :main-opts ["-m" "antq.core"]}

           :depstar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
                     :exec-fn hf.depstar/jar
                     :exec-args {:sync-pom true
                                 :group-id "girouette"
                                 :artifact-id "girouette"
                                 :version "0.0.3"
                                 :jar "girouette.jar"}}}}
;; Memo for deploying a new release:
;; - Change the version above, then build the jar:
;;     clojure -X:depstar
;; - add a tag "v0.x.y" to the latest commit and push to repo
;; - deploy:
;;     mvn deploy:deploy-file -Dfile=girouette.jar -DpomFile=pom.xml -DrepositoryId=clojars -Durl=https://clojars.org/repo/
