{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.10.2"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/tools.deps.alpha {:mvn/version "0.9.876"}
        org.clojure/tools.analyzer {:mvn/version "1.0.0"}
        ;rewrite-clj/rewrite-clj {:mvn/version "0.6.1"}
        hawk/hawk {:mvn/version "0.2.11"}

        garden/garden {:mvn/version "1.3.10"}
        girouette/girouette {:local/root "../girouette"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.641"}
                                lambdaisland/kaocha-cljs      {:mvn/version "0.0-71"}
                                lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                org.clojure/test.check        {:mvn/version "1.1.0"}}}

           :depstar {:replace-deps {seancorfield/depstar {:mvn/version "2.0.171"}}
                     :ns-default hf.depstar
                     :exec-args {}}

           ; clojure -M:outdated --write
           :outdated {:replace-deps {olical/depot {:mvn/version "2.1.0"}}
                      :main-opts ["-m" "depot.outdated.main"]}

           :reveal {:extra-deps {vlaaad/reveal {:mvn/version "1.3.194"}}
                    :ns-default vlaaad.reveal
                    :exec-fn repl}}}
