{:paths   ["src"]

 :deps    {org.clojure/clojure          {:mvn/version "1.10.3"}
           org.clojure/clojurescript    {:mvn/version "1.11.4"}
           org.clojure/tools.deps.alpha {:mvn/version "0.12.1120"}
           org.clojure/tools.analyzer   {:mvn/version "1.1.0"}
           ;rewrite-clj/rewrite-clj      {:mvn/version "0.6.1"}
           com.nextjournal/beholder     {:mvn/version "1.0.0"}
           org.slf4j/slf4j-nop          {:mvn/version "1.7.36"}

           garden/garden                {:mvn/version "1.3.10"}
           girouette/girouette          {:mvn/version "0.0.7"}
           #_#_girouette/girouette          {:local/root "../../lib/girouette"}}

 :aliases {:test     {:extra-paths ["test"]
                      :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.60.977"}
                                    lambdaisland/kaocha-cljs      {:mvn/version "1.0.107"}
                                    lambdaisland/kaocha-junit-xml {:mvn/version "0.0.76"}
                                    org.clojure/test.check        {:mvn/version "1.1.1"}}}

           ; clojure -M:outdated --upgrade
           :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "1.4.0"}}
                      :main-opts  ["-m" "antq.core"]}

           :depstar  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
                      :exec-fn      hf.depstar/jar
                      :exec-args    {:sync-pom    true
                                     :group-id    "girouette"
                                     :artifact-id "processor"
                                     :version     "0.0.7"
                                     :jar         "processor.jar"}}}}
;; Memo for deploying a new release:
;; - Change the version above, then build the jar:
;;     clojure -X:depstar
;; - add a tag "v0.x.y" to the latest commit and push to repo
;; - deploy:
;;     mvn deploy:deploy-file -Dfile=processor.jar -DpomFile=pom.xml -DrepositoryId=clojars -Durl=https://clojars.org/repo/
