{:paths   ["src"]

 :deps    {org.clojure/clojurescript {:mvn/version "1.11.60"}
           thheller/shadow-cljs      {:mvn/version "2.19.5"}
           reagent/reagent           {:mvn/version "1.1.1"}
           ;girouette/girouette       {:local/root "../../lib/girouette"}
           girouette/girouette       {:mvn/version "0.0.9"}}

 :aliases {; clojure -X:girouette-processor
           :girouette-processor {;:extra-deps {girouette/processor {:local/root "../../lib/processor"}}
                                 :extra-deps {girouette/processor {:mvn/version "0.0.8"}}
                                 :ns-default girouette.processor
                                 :exec-fn    process
                                 :exec-args  {:css           {:output-file "public/style/girouette.css"}
                                              :base-css-rules [;girouette.tw.preflight/preflight-v2_0_3
                                                               girouette.tw.preflight/preflight-v3_0_24
                                                               acme.frontend.my-css/my-base-css-rules]
                                              :garden-fn     acme.frontend.my-grammar/class-name->garden
                                              :apply-classes acme.frontend.my-css/composed-classes
                                              :watch?        true
                                              #_#_:dry-run? true}}

           ; clojure -M:outdated --upgrade
           :outdated            {:extra-deps {com.github.liquidz/antq {:mvn/version "1.8.847"}}
                                 :main-opts  ["-m" "antq.core"]}}}
