{:paths ["src"]

 :deps {org.clojure/clojurescript {:mvn/version "1.10.758"}
        thheller/shadow-cljs {:mvn/version "2.11.11"}
        reagent {:mvn/version "0.10.0"}
        girouette {:local/root "../../"}}}
