;; shadow-cljs configuration
{:deps true

 :dev-http
 {8080 "public"}

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn acme.frontend.app/init}}
   :build-hooks [(girouette.tw.shadow-cljs/generate-css {:output-filename "public/style/girouette.css"
                                                         :cache-class-names? true})]}}}
